html, body {
    background: black;
    color: #a0a0a0;
}

* {
    user-select: none; 
}

input {
   user-select: text;
}

a, a:hover, a:visited, a:active {
    color: #a0a000;
    text-decoration: underline;
}

#toggle_menu {
   color: yellow;
   background: #505050;
   border: 2px solid #909090;
   width: 3em;
}

#toggle_menu a, #toggle_menu a:visited, #toggle_menu a:active {
   color: yellow;
}

div#menuwrap {
   border: 1px solid #505050;
   z-index: 100000000;
   padding: 2px;
   margin: 0px;
   margin-top: -6px;
   width: CALC(100% - 1.5em);
}

div#menu {
   border: 2px solid #505050 ;
   margin: 4px;
   position: fixed;
   left: 0.25em;
   top: 1.7em;
   z-index: 100000001;
   background: black;
   display: none;
}

div#rms-map {
   position: absolute;
   top: 2.6em;
   left: 0.5em;
   border: 2px solid #505050;
   height: CALC(100% - 6.8em);
   width: CALC(100% - 1.5em);
}

div#status {
   border: 1px solid grey;
   padding: 4px;
   position: fixed;
   bottom: 0em;
   left: 0.5em;
   height: 2em;
   width: CALC(100% - 1.5em);
}

div#helpcontainer {
   z-index: 200000000;
   position: absolute;
   left: 1em;
   top: 1em;
   height: CALC(100% - 1.1em);
   width: CALC(100% - 1.1em);
   background: #707070;
   color: #cccccc;
   border: 2px solider #c0c0c0;
   width: 100%;
   height: 100%;
   display: none;
}

ul {
   font: fixed;
}

.right {
   position: float;
   right: 1em;
   top: 2.5em;
}

/*
.awesome-marker i {
   font-size: 10px;
   margin-top: 8px;
}
*/
